/* Draggable Infinite Slider Styles */

.is--dark {
  background-color: #000;
}

.button-arrow {
  flex: none;
  width: 1em;
  height: 0.75em;
}

.button-arrow.next {
  transform: rotate(180deg);
}

.count-heading {
  width: 2ch;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 500;
  line-height: 1;
}

.overlay-count-row {
  grid-gap: 0.2em;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 5.625em;
  font-weight: 700;
  display: flex;
}

.overlay {
  z-index: 2;
  color: #fff;
  background-image: linear-gradient(90deg, #000 85%, #0000);
  justify-content: flex-start;
  align-items: center;
  width: 37.5em;
  height: 100%;
  padding-left: 2em;
  display: flex;
  position: absolute;
  inset: 0% auto 0% 0%;
}

.overlay-nav-row {
  grid-gap: 2em;
  display: flex;
}

.button-overlay {
  z-index: 2;
  position: absolute;
  inset: -1px;
}

.overlay-corner {
  border-top: 1px solid #efeeec;
  border-left: 1px solid #efeeec;
  border-top-left-radius: 0.4em;
  width: 1em;
  height: 1em;
}

.overlay-corner.top-right {
  position: absolute;
  inset: 0% 0% auto auto;
  transform: rotate(90deg);
}

.overlay-corner.bottom-right {
  position: absolute;
  inset: auto 0% 0% auto;
  transform: rotate(180deg);
}

.overlay-corner.bottom-left {
  position: absolute;
  inset: auto auto 0% 0%;
  transform: rotate(-90deg);
}

.count-row-divider {
  background-color: #efeeec;
  width: 2px;
  height: 0.75em;
  transform: rotate(15deg);
}

.button-slider {
  color: #fff;
  background-color: #0000;
  border: 1px solid #fff3;
  border-radius: 0.4em;
  justify-content: center;
  align-items: center;
  width: 4em;
  height: 4em;
  padding: 0;
  display: flex;
  position: relative;
}

.overlay-inner {
  flex-flow: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 28.125em;
  display: flex;
}

.count-column {
  height: 1em;
  overflow: hidden;
}

.slide-inner {
  border-radius: 0.5em;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.caption-dot {
  background-color: #131313;
  border-radius: 10em;
  flex: none;
  width: 0.5em;
  height: 0.5em;
}

.slider-list {
  flex-flow: row;
  justify-content: flex-start;
  align-items: stretch;
  display: flex;
  position: relative;
}

.caption {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.75em;
}

.slider-slide {
  flex: none;
  width: 42.5em;
  height: 90vh;
  max-height: 56.25em;
  padding-left: 1.25em;
  padding-right: 1.25em;
  transition: opacity 0.4s;
  position: relative;
  aspect-ratio: 3 / 4;
}

.main {
  z-index: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
  overflow: hidden;
}

.slider-wrap {
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.slide-caption {
  z-index: 2;
  grid-gap: 0.4em;
  color: #131313;
  white-space: nowrap;
  background-color: #efeeec;
  border-radius: 0.25em;
  justify-content: flex-start;
  align-items: center;
  padding: 0.4em 0.75em 0.4em 0.5em;
  display: flex;
  position: absolute;
  top: 1.25em;
  left: 1.25em;
  overflow: hidden;
}

.slide-img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
