/* Flodesk Styles */
[class$='__button'],
[class$='__label'],
[class$='__title'] {
  font-family: var(--_typography---font-styles--body) !important;
}

[data-ff-el='root'] {
  font-family: var(--_typography---font-styles--body) !important;
}

[data-ff-el='root'] [class$='__title'] {
  font-family: var(--_typography---font-styles--heading) !important;
}

[class$='__form'] {
  padding: 0 !important;
}

/* RTL/LTR support for privacy policy checkbox */
[data-ff-el='root'] .fd-form-check__checkmark {
  inset-block-start: 0 !important;
  inset-inline-start: 0 !important;
}
