/* Flodesk Styles */
[data-ff-el='root'] *,
[data-ff-el='root'] [class$='__button'],
[data-ff-el='root'] [class$='__label'],
[data-ff-el='root'] [class$='__title'],
[data-ff-el='root'] [class$='__control'],
[data-ff-el='root'] [class$='__subtitle'] *,
[data-ff-el='root'] .fd-form-feedback {
  font-family: var(--_typography---font-styles--body) !important;
}

[data-ff-el='root'] [class$='__title'] {
  font-family: var(--_typography---font-styles--heading) !important;
}

[class$='__form'] {
  padding: 0 !important;
}

[data-ff-el='root'] .fd-form-feedback {
  font-size: 1rem !important;
}

/* RTL/LTR support for privacy policy checkbox */
[dir='rtl'] [data-ff-el='root'] .fd-form-check__checkmark,
[dir='rtl'] [data-ff-el='root'] .fd-form-check__input {
  left: auto !important;
  top: auto !important;
  inset-block-start: 0 !important;
  inset-inline-start: 0 !important;
}

[dir='rtl'] [data-ff-el='root'] .fd-form-check__label {
  text-align: start !important;
}

[dir='rtl'] [data-ff-el='root'] [class$='__accepts-gdpr-block'] {
  align-items: flex-start !important;
}

[dir='rtl'] [data-ff-el='root'] [class$='__accepts-gdpr-checkbox'],
[dir='rtl']
  [data-ff-el='root']
  .ff-698722f5f07d75b18aee61f4__accepts-gdpr-checkbox,
[dir='rtl']
  [data-ff-el='root'].ff-69876c2c344140de226f0076
  .ff-69876c2c344140de226f0076__accepts-gdpr-checkbox {
  padding-left: 0 !important;
  padding-inline-start: 1.625rem !important;
}
