/* Flodesk Styles */
[class$='__button'],
[class$='__label'],
[class$='__title'] {
  font-family: var(--_typography---font-styles--body) !important;
}

[data-ff-el='root'] {
  font-family: var(--_typography---font-styles--body) !important;
}

[data-ff-el='root'] [class$='__title'] {
  font-family: var(--_typography---font-styles--heading) !important;
}

[class$='__form'] {
  padding: 0 !important;
}

/* RTL/LTR support for privacy policy checkbox */
[dir='rtl'] [data-ff-el='root'] .fd-form-check__checkmark,
[dir='rtl'] [data-ff-el='root'] .fd-form-check__input {
  left: auto !important;
  top: auto;
  inset-block-start: 0 !important;
  inset-inline-start: 0 !important;
}

[dir='rtl'] [data-ff-el='root'] .fd-form-check__label {
  text-align: start !important;
}

[dir='rtl'] [data-ff-el='root'] [class$='__accepts-gdpr-block'] {
  align-items: flex-start !important;
}

[dir='rtl'] [data-ff-el='root'] [class$='__accepts-gdpr-checkbox'] {
  padding-left: 0 !important;
  padding-inline-start: 1.625rem !important;
}
