[data-gsap-slider-init] {
  --slider-status: on; /* Turn slider on/off */
  --slider-spv: 3; /* Slides per view */
  --slider-gap: 1.5em; /* Slides Gap */
}

@media screen and (width <= 991px) {
  [data-gsap-slider-init] {
    --slider-status: on; /* Turn slider on/off */
    --slider-spv: 2.25; /* Slides per view */
    --slider-gap: 1.5em; /* Slides Gap */
  }
}

@media screen and (width <= 767px) {
  [data-gsap-slider-init] {
    --slider-status: on; /* Turn slider on/off */
    --slider-spv: 1.15; /* Slides per view */
    --slider-gap: 1em; /* Gap */
  }
}

[data-gsap-slider-item]:last-child {
  margin-inline-start: 0;
}

/* Controls */
[data-gsap-slider-status='not-active'] [data-gsap-slider-controls] {
  display: none;
}

[data-gsap-slider-control-status='not-active'] {
  opacity: 0.2;
  pointer-events: none;
}

/* Customization */

.gsap-slider__control {
  transition: opacity 0.3s ease;
}

.gsap-slider__item {
  transition: box-shadow 0.3s ease-in-out;
}

.gsap-slider__item:hover {
  box-shadow: 0 10px 20px rgb(0 0 0 / 10%);
}

.gsap-slider__item .card-text-wrapper {
  transition:
    background-color 0.3s ease-in-out,
    mix-blend-mode 0.5s ease-in-out;
}

.gsap-slider__item:hover .card-text-wrapper {
  background-color: transparent;
  mix-blend-mode: plus-lighter;
}

.gsap-slider__item .image {
  transition: transform 0.3s ease-in-out;
}

.gsap-slider__item:hover .image {
  transform: scale(1.1);
}

.demo-card__tag {
  transition: all 0.3s ease;
}
