/* Image Trail Following Cursor Styles */

.trail-section {
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
}

.trail-heading {
  font-size: 3em;
  font-weight: 500;
  line-height: 1;
}

.trail-wrap {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0%;
}

.trail-list {
  width: 100%;
  height: 100%;
  position: relative;
}

.trail-item {
  opacity: 0;
  border-radius: 0.3125em;
  width: 15em;
  height: 20em;
  position: absolute;
  overflow: hidden;
}

.trail-item__img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
