[data-layout-status='large'] {
  --columns: 3;
  --column-gap: 1.5em;
}

[data-layout-status='small'] {
  --columns: 5;
  --column-gap: 1em;
}

[data-layout-grid-item] {
  width: calc(
    (100% - (var(--columns) - 1) * var(--column-gap)) / var(--columns)
  );
}

[data-layout-grid-item-title] {
  transition: all 0.8s cubic-bezier(0.65, 0, 0.1, 1);
}

/* Change card layout while we're in grid mode */
[data-layout-status='large'] [data-layout-grid-item] .layout-grid__card-sub {
  transition-delay: 0.6s;
}

/* Change card layout while we're in list mode */
[data-layout-status='small'] [data-layout-grid-item] .layout-grid__card-title {
  font-size: 1em;
}

[data-layout-status='small'] [data-layout-grid-item] .layout-grid__card-sub {
  opacity: 0;
  pointer-events: none;
}

/* Define layout sizes per breakpoint */
@media screen and (width <= 767px) {
  [data-layout-status='large'] {
    --columns: 1;
    --column-gap: 0em;
  }

  [data-layout-status='small'] {
    --columns: 2;
    --column-gap: 1em;
  }
}
