/* Import other CSS modules - must be at the top */
@import url('./textreveal.css');
@import url('./animations.css');
@import url('./gsap-slider.css');
@import url('./accordion.css');
@import url('./youtube-player.css');
@import url('./youtube-lightbox.css');
@import url('./underline-links.css');
@import url('./flip-counter.css');
@import url('./draggable-infinite-slider.css');
@import url('./layout-grid-flip.css');
@import url('./copy-email-to-clipboard-button.css');
@import url('./multilevel-navigation.css');
@import url('./parallax-image.css');
@import url('./lightbox-setup.css');
@import url('./flodesk.css');
@import url('./webflow.css');

/* Global styles */

/* :root {
  --ease: cubic-bezier(0.22, 0.61, 0.36, 1);
} */

::selection {
  background-color: var(--brand--accent, #3b3630);
  color: var(--brand--background, #fff);
}

.hero_content h1::selection {
  background-color: var(--brand--background, #fff);
  color: var(--brand--accent, #3b3630);
}

html {
  scroll-behavior: smooth;
}

/* Accordion Toggle Focus Styles */
[data-accordion-toggle]:focus-visible {
  outline: 2px solid var(--_primitives---brand--accent--600);
  outline-offset: 2px;
}
