/* Import other CSS modules - must be at the top */
@import url('./textreveal.css');
@import url('./animations.css');
@import url('./gsap-slider.css');
@import url('./accordion.css');
@import url('./youtube-player.css');
@import url('./youtube-lightbox.css');
@import url('./underline-links.css');
@import url('./flip-counter.css');
@import url('./draggable-infinite-slider.css');
@import url('./layout-grid-flip.css');
@import url('./copy-email-to-clipboard-button.css');
@import url('./multilevel-navigation.css');
@import url('./parallax-image.css');

/* Global styles */

/* :root {
  --ease: cubic-bezier(0.22, 0.61, 0.36, 1);
} */

::selection {
  background-color: var(--brand--accent, #3b3630);
  color: var(--brand--background, #fff);
}

.hero_content h1::selection {
  background-color: var(--brand--background, #fff);
  color: var(--brand--accent, #3b3630);
}

html {
  scroll-behavior: smooth;
}

.hero_lightbox .hero_lightbox-thumbnail {
  transition: transform 1s ease-in-out;
}

.hero_lightbox:hover .hero_lightbox-thumbnail {
  transform: scale(1.05);
}

.w-richtext p {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.w-richtext ol,
.w-richtext ul {
  padding-left: 0;
  padding-inline-start: 1.5rem;
}

.w-richtext ol li,
.w-richtext ul li {
  padding-left: 0;
  padding-inline-start: 0.5rem;
}
