/* Import other CSS modules - must be at the top */
@import url('./textreveal.css');
@import url('./animations.css');
@import url('./gsap-slider.css');
@import url('./accordion.css');
@import url('./youtube-player.css');
@import url('./underline-links.css');
@import url('./flip-counter.css');
@import url('./draggable-infinite-slider.css');

/* Global styles */
:root {
  --ease: cubic-bezier(0.22, 0.61, 0.36, 1);
}

html {
  scroll-behavior: smooth;
}

.hero_lightbox .hero_lightbox-thumbnail {
  width: 100%;
  max-width: 100%;
  height: auto;
  transition:
    height 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    max-width 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955),
    width 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.hero_lightbox:hover .hero_lightbox-thumbnail {
  height: 115%;
  max-width: 130%;
  width: 130%;
}
