/* Import other CSS modules - must be at the top */
@import url('./textreveal.css');
@import url('./animations.css');
@import url('./gsap-slider.css');
@import url('./accordion.css');
@import url('./youtube-player.css');
@import url('./underline-links.css');
@import url('./flip-counter.css');
@import url('./draggable-infinite-slider.css');

/* Global styles */
:root {
  --ease: cubic-bezier(0.22, 0.61, 0.36, 1);
}

html {
  scroll-behavior: smooth;
}

.section_hero_lightbox:hover .hero_lightbox-thumbnail {
  width: 120%;
}
