/* Multilevel Navigation script */

:root {
  --nav-bg-height: calc(20em + calc(2em + 3em + 2.5em + 3em));
  --cubic-default: cubic-bezier(0.525, 0, 0, 1);
  --duration-fast: 0.2s;
  --duration-normal: 0.45s;
  --color-dark: var(--brand--text, #1a1a1ae0);
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--brand--text, #1a1a1ae0);
}

.nav-bg {
  transition: height var(--duration-normal) var(--cubic-default);
}

.page-bg {
  transition: opacity var(--duration-fast) var(--cubic-default);
}

.nav {
  transition: color var(--duration-fast) var(--cubic-default);
}

.nav-button {
  transition: all var(--duration-fast) var(--cubic-default);
}

/* ———— SHOW DROPDOWN ———— */
.nav-dropdown {
  transition:
    all var(--duration-fast) ease,
    transform var(--duration-normal) var(--cubic-default);
}

[data-dropdown-toggle]:not([data-dropdown-toggle='closed']):hover
  + .nav-dropdown,
[data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-visible
  + .nav-dropdown,
[data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
  + .nav-dropdown:hover,
[data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
  + .nav-dropdown:focus-within {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ————  DROPDOWN CONTENT LIST ITEMS ———— */
.nav-dropdown__content-li {
  transition: all var(--duration-normal) var(--cubic-default);
  transition-delay: 0.18s;
  opacity: 0;
  transform: translate(4em, 0);
}

.nav-dropdown__content-li:nth-child(2) {
  transition-delay: 0.24s;
}

.nav-dropdown__content-li:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-dropdown__content-li:nth-child(4) {
  transition-delay: 0.36s;
}

.nav-dropdown__content-li:nth-child(5) {
  transition-delay: 0.44s;
}

/* ————  DROPDOWN LINKS + IMAGES ———— */
.nav-dropdown__link:hover .nav-dropdown__img-overlay,
.nav-dropdown__link:focus-visible .nav-dropdown__img-overlay {
  opacity: 0;
}

.nav-dropdown__link:hover .nav-dropdown__img,
.nav-dropdown__link:focus-visible .nav-dropdown__img {
  transform: scale(1.1);
}

/* ———— DROPDOWN LINKS ———— */
.nav-dropdown__link.is--static:hover,
.nav-dropdown__link.is--static:focus-visible {
  background: #d7d1cd;
}

/* ———— NAV LINKS ———— */
a.nav-link .nav-link__label::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: currentcolor;
  transition: transform var(--duration-normal) var(--cubic-default);
  transform: scale(0, 1);
  transform-origin: right center;
}

a.nav-link:hover .nav-link__label::after,
a.nav-link:focus-visible .nav-link__label::after {
  transform: scale(1, 1);
  transform-origin: left center;
}

/* ———— Sticky nav ———— */
.nav-logo {
  transition: 0.3s ease-in-out filter;
}

.is-scrolled .nav-logo {
  filter: invert(0);
}

.is-scrolled {
  background-color: #ffffffdb;
  color: var(--brand--text, #1a1a1ae0);
  backdrop-filter: blur(10px);
}

.is-scrolled .nav-button.is--primary {
  background-color: var(--brand--text, #1a1a1ae0);
  border-color: var(--brand--text, #1a1a1ae0);
  color: #fff;
}

/* ———— MOBILE STATE WITH BURGER MENU ———— */
@media screen and (width <= 767px) {
  :root {
    --nav-bg-height: 100dvh;
  }

  .nav-dropdown__overflow {
    transition: grid-template-rows var(--duration-normal) var(--cubic-default);
  }

  .nav-center {
    transition:
      all var(--duration-normal) var(--cubic-default),
      opacity var(--duration-fast) var(--cubic-default);
  }

  .menu-button__line {
    transition: all var(--duration-normal) var(--cubic-default);
  }

  /* ———— STYLES WHEN MENU IS OPEN ———— */
  :is([data-menu-status='open']) {
    color: var(--brand--text, #1a1a1ae0);

    .menu-button__line:nth-of-type(1) {
      transform: translate(0, 0.125em) rotate(135deg);
      background-color: #fff;
    }

    .menu-button__line:nth-of-type(2) {
      transform: translate(0, -0.175em) rotate(-135deg);
      background-color: #fff;
    }

    .nav-bg {
      height: var(--nav-bg-height);
    }

    .page-bg {
      opacity: 1;
    }

    .nav-logo {
      filter: invert(0);
    }

    .nav-button.is--primary {
      background-color: var(--brand--text, #1a1a1ae0);
      border-color: var(--brand--text, #1a1a1ae0);
      color: #fff;
    }

    .nav-center {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
      transition-delay: 0.1s;
    }
  }

  [data-dropdown-toggle='open'] + .nav-dropdown .nav-dropdown__overflow {
    grid-template-rows: 1fr;
  }

  [data-dropdown-toggle='open'] + .nav-dropdown .nav-dropdown__content-li {
    opacity: 1;
    transform: translate(0, 0);
  }

  [data-dropdown-toggle='open'] .nav-link__dropdown-icon {
    transform: rotate(180deg);
  }

  [data-dropdown-toggle='open'] .nav-logo {
    filter: invert(0);
  }
}
