/* Multilevel Navigation script */

:root {
  --nav-bg-height: calc(20em + calc(2em + 3em + 2.5em + 3em));
  --cubic-default: cubic-bezier(0.525, 0, 0, 1);
  --duration-fast: 0.2s;
  --duration-normal: 0.45s;
  --color-dark: #2b1d15;
}

a {
  color: inherit;
  text-decoration: none;
}

a:focus-visible,
button:focus-visible {
  outline: 1px solid var(--color-dark);
}

.nav-bg {
  transition: height var(--duration-normal) var(--cubic-default);
}

.page-bg {
  transition: opacity var(--duration-fast) var(--cubic-default);
}

.nav {
  transition: color var(--duration-fast) var(--cubic-default);
}

.nav-button {
  transition: all var(--duration-fast) var(--cubic-default);
}

/* ———— SHOW DROPDOWN ———— */
.nav-dropdown {
  transition:
    all var(--duration-fast) ease,
    transform var(--duration-normal) var(--cubic-default);
}

.wf-design-mode [data-dropdown-toggle='open'] + .nav-dropdown {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

[data-dropdown-toggle]:not([data-dropdown-toggle='closed']):hover
  + .nav-dropdown,
[data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-visible
  + .nav-dropdown,
[data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
  + .nav-dropdown:hover,
[data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
  + .nav-dropdown:focus-within {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

/* ———— STYLING WHEN DROPDOWN IS OPEN ———— */
.wf-design-mode body:has([data-dropdown-toggle='open']) .nav-bg,
:is(
    body:has([data-dropdown-toggle]:not([data-dropdown-toggle='closed']):hover),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-visible
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-within
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
        + .nav-dropdown:hover
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
        + .nav-dropdown:focus-within
    )
  )
  .nav-bg {
  height: var(--nav-bg-height);
}

.wf-design-mode body:has([data-dropdown-toggle='open']) .page-bg,
:is(
    body:has([data-dropdown-toggle]:not([data-dropdown-toggle='closed']):hover),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-visible
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-within
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
        + .nav-dropdown:hover
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
        + .nav-dropdown:focus-within
    )
  )
  .page-bg {
  opacity: 1;
}

.wf-design-mode body:has([data-dropdown-toggle='open']) .nav,
:is(
    body:has([data-dropdown-toggle]:not([data-dropdown-toggle='closed']):hover),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-visible
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-within
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
        + .nav-dropdown:hover
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
        + .nav-dropdown:focus-within
    )
  )
  .nav {
  color: var(--color-dark);
}

.wf-design-mode body:has([data-dropdown-toggle='open']) .nav-button,
:is(
    body:has([data-dropdown-toggle]:not([data-dropdown-toggle='closed']):hover),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-visible
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-within
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
        + .nav-dropdown:hover
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
        + .nav-dropdown:focus-within
    )
  )
  .nav-button {
  border-color: var(--color-dark);
  color: var(--color-dark);
}

.wf-design-mode body:has([data-dropdown-toggle='open']) .nav-button.is--primary,
:is(
    body:has([data-dropdown-toggle]:not([data-dropdown-toggle='closed']):hover),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-visible
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-within
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
        + .nav-dropdown:hover
    ),
    body:has(
      [data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
        + .nav-dropdown:focus-within
    )
  )
  .nav-button.is--primary {
  background-color: var(--color-dark);
  border-color: var(--color-dark);
  color: #fff;
}

/* ———— DROPDOWN TOGGLE ———— */
.nav-link__dropdown-icon {
  transition: transform var(--duration-normal) var(--cubic-default);
}

[data-dropdown-toggle] {
  transition: background-color var(--duration-fast) var(--cubic-default);
}

/* ———— DESKTOP HOVER AND FOCUS ———— */
@media screen and (width >= 768px) {
  [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):hover
    .nav-link__dropdown-icon,
  [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus
    .nav-link__dropdown-icon,
  [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-within
    .nav-link__dropdown-icon,
  [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):has(
      + .nav-dropdown:hover
    )
    .nav-link__dropdown-icon,
  [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):has(
      + .nav-dropdown:focus-within
    )
    .nav-link__dropdown-icon {
    transform: rotate(180deg);
  }

  [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):hover,
  [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus,
  [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-within,
  [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):has(
      + .nav-dropdown:hover
    ),
  [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):has(
      + .nav-dropdown:focus-within
    ),
  .wf-design-mode body:has([data-dropdown-toggle='open']) + .nav-dropdown {
    background-color: #ebe7e4;
  }
}

/* ————  DROPDOWN CONTENT LIST ITEMS ———— */
.nav-dropdown__content-li {
  transition: all var(--duration-normal) var(--cubic-default);
  transition-delay: 0.18s;
  opacity: 0;
  transform: translate(4em, 0);
}

.nav-dropdown__content-li:nth-child(2) {
  transition-delay: 0.24s;
}

.nav-dropdown__content-li:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-dropdown__content-li:nth-child(4) {
  transition-delay: 0.36s;
}

.nav-dropdown__content-li:nth-child(5) {
  transition-delay: 0.44s;
}

.wf-design-mode
  [data-dropdown-toggle='open']
  + .nav-dropdown
  .nav-dropdown__content-li,
body:has(
    [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-visible
  )
  .nav-dropdown__content-li,
body:has(
    [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):focus-within
  )
  .nav-dropdown__content-li,
body:has(
    [data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
      + .nav-dropdown:hover
  )
  .nav-dropdown__content-li,
body:has(
    [data-dropdown-toggle]:not([data-dropdown-toggle='closed'])
      + .nav-dropdown:focus-within
  )
  .nav-dropdown__content-li,
body:has([data-dropdown-toggle]:not([data-dropdown-toggle='closed']):hover)
  [data-dropdown-toggle]:not([data-dropdown-toggle='closed']):hover
  + .nav-dropdown
  .nav-dropdown__content-li {
  opacity: 1;
  transform: translate(0, 0);
}

/* ————  DROPDOWN LINKS + IMAGES ———— */
.nav-dropdown__link:hover .nav-dropdown__img-overlay,
.nav-dropdown__link:focus-visible .nav-dropdown__img-overlay {
  opacity: 0;
}

.nav-dropdown__link:hover .nav-dropdown__img,
.nav-dropdown__link:focus-visible .nav-dropdown__img {
  transform: scale(1.1);
}

/* ———— DROPDOWN LINKS ———— */
.nav-dropdown__link.is--static:hover,
.nav-dropdown__link.is--static:focus-visible {
  background: #d7d1cd;
}

/* ———— NAV LINKS ———— */
a.nav-link .nav-link__label::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 1px;
  background: currentcolor;
  transition: transform var(--duration-normal) var(--cubic-default);
  transform: scale(0, 1);
  transform-origin: right center;
}

a.nav-link:hover .nav-link__label::after,
a.nav-link:focus-visible .nav-link__label::after {
  transform: scale(1, 1);
  transform-origin: left center;
}

/* ———— MOBILE STATE WITH BURGER MENU ———— */
@media screen and (width <= 767px) {
  :root {
    --nav-bg-height: 100dvh;
  }

  .nav-dropdown__overflow {
    transition: grid-template-rows var(--duration-normal) var(--cubic-default);
  }

  .nav-center {
    transition:
      all var(--duration-normal) var(--cubic-default),
      opacity var(--duration-fast) var(--cubic-default);
  }

  .menu-button__line {
    transition: all var(--duration-normal) var(--cubic-default);
  }

  /* ———— STYLES WHEN MENU IS OPEN ———— */
  :is([data-menu-status='open']) {
    color: var(--color-dark);

    .menu-button__line:nth-of-type(1) {
      transform: translate(0, 0.125em) rotate(135deg);
      background-color: #fff;
    }

    .menu-button__line:nth-of-type(2) {
      transform: translate(0, -0.175em) rotate(-135deg);
      background-color: #fff;
    }

    .nav-bg {
      height: var(--nav-bg-height);
    }

    .page-bg {
      opacity: 1;
    }

    .nav-button.is--primary {
      background-color: var(--color-dark);
      border-color: var(--color-dark);
      color: #fff;
    }

    .nav-center {
      opacity: 1;
      visibility: visible;
      transform: translate(0, 0);
      transition-delay: 0.1s;
    }
  }

  [data-dropdown-toggle='open'] + .nav-dropdown .nav-dropdown__overflow {
    grid-template-rows: 1fr;
  }

  [data-dropdown-toggle='open'] + .nav-dropdown .nav-dropdown__content-li {
    opacity: 1;
    transform: translate(0, 0);
  }

  [data-dropdown-toggle='open'] .nav-link__dropdown-icon {
    transform: rotate(180deg);
  }
}
