[data-underline-link] {
  text-decoration: none;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -0.0625em;
    inset-inline-start: 0;
    width: 100%;
    height: 0.0625em;
    background-color: currentcolor;
    transition: transform 0.735s cubic-bezier(0.625, 0.05, 0, 1);
    transform-origin: 100% center;
    transform: scaleX(0) rotate(0.001deg);
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover::before {
      transform-origin: 0% center;
      transform: scaleX(1) rotate(0.001deg);
    }

    [data-hover]:hover &::before {
      transform-origin: 0% center;
      transform: scaleX(1) rotate(0.001deg);
    }
  }

  /* RTL Support */
  [dir='rtl'] & {
    &::before {
      transform-origin: 0% center;
      transform: scaleX(0) rotate(0.001deg);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::before {
        transform-origin: 100% center;
        transform: scaleX(1) rotate(0.001deg);
      }

      [data-hover]:hover &::before {
        transform-origin: 100% center;
        transform: scaleX(1) rotate(0.001deg);
      }
    }
  }
}

[data-underline-link='alt'] {
  &::before {
    transform-origin: 0% center;
    transform: scaleX(1) rotate(0.001deg);
    transition-delay: 0.3s;
  }

  &::after {
    transform-origin: 100% center;
    transform: scaleX(0) rotate(0.001deg);
    transition-delay: 0s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover::before {
      transform-origin: 100% center;
      transform: scaleX(0) rotate(0.001deg);
      transition-delay: 0s;
    }

    &:hover::after {
      transform-origin: 0% center;
      transform: scaleX(1) rotate(0.001deg);
      transition-delay: 0.3s;
    }

    [data-hover]:hover &::before {
      transform-origin: 100% center;
      transform: scaleX(0) rotate(0.001deg);
      transition-delay: 0s;
    }

    [data-hover]:hover &::after {
      transform-origin: 0% center;
      transform: scaleX(1) rotate(0.001deg);
      transition-delay: 0.3s;
    }
  }

  /* RTL Support */
  [dir='rtl'] & {
    &::before {
      transform-origin: 100% center;
      transform: scaleX(1) rotate(0.001deg);
    }

    &::after {
      transform-origin: 0% center;
      transform: scaleX(0) rotate(0.001deg);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::before {
        transform-origin: 0% center;
        transform: scaleX(0) rotate(0.001deg);
      }

      &:hover::after {
        transform-origin: 100% center;
        transform: scaleX(1) rotate(0.001deg);
      }

      [data-hover]:hover &::before {
        transform-origin: 0% center;
        transform: scaleX(0) rotate(0.001deg);
      }

      [data-hover]:hover &::after {
        transform-origin: 100% center;
        transform: scaleX(1) rotate(0.001deg);
      }
    }
  }
}

.w-richtext a {
  text-decoration: none;
  position: relative;

  &::before,
  &::after {
    content: '';
    position: absolute;
    bottom: -0.0625em;
    inset-inline-start: 0;
    width: 100%;
    height: 0.0625em;
    background-color: currentcolor;
    transition: transform 0.735s cubic-bezier(0.625, 0.05, 0, 1);
  }

  &::before {
    transform-origin: 0% center;
    transform: scaleX(1) rotate(0.001deg);
    transition-delay: 0.3s;
  }

  &::after {
    transform-origin: 100% center;
    transform: scaleX(0) rotate(0.001deg);
    transition-delay: 0s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover::before {
      transform-origin: 100% center;
      transform: scaleX(0) rotate(0.001deg);
      transition-delay: 0s;
    }

    &:hover::after {
      transform-origin: 0% center;
      transform: scaleX(1) rotate(0.001deg);
      transition-delay: 0.3s;
    }
  }

  /* RTL Support */
  [dir='rtl'] & {
    &::before {
      transform-origin: 100% center;
      transform: scaleX(1) rotate(0.001deg);
    }

    &::after {
      transform-origin: 0% center;
      transform: scaleX(0) rotate(0.001deg);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::before {
        transform-origin: 0% center;
        transform: scaleX(0) rotate(0.001deg);
      }

      &:hover::after {
        transform-origin: 100% center;
        transform: scaleX(1) rotate(0.001deg);
      }
    }
  }
}

.section-rich-text .w-richtext a {
  &::before,
  &::after {
    transform-origin: 100% center;
    transform: scaleX(0) rotate(0.001deg);
  }

  &::before {
    transition-delay: 0s;
  }

  &::after {
    transition-delay: 0s;
  }

  @media (hover: hover) and (pointer: fine) {
    &:hover::before {
      transform-origin: 0% center;
      transform: scaleX(1) rotate(0.001deg);
    }

    &:hover::after {
      transform-origin: 100% center;
      transform: scaleX(0) rotate(0.001deg);
    }
  }

  /* RTL Support */
  [dir='rtl'] & {
    &::before,
    &::after {
      transform-origin: 0% center;
      transform: scaleX(0) rotate(0.001deg);
    }

    @media (hover: hover) and (pointer: fine) {
      &:hover::before {
        transform-origin: 100% center;
        transform: scaleX(1) rotate(0.001deg);
      }
    }
  }
}
