/* Custom Webflow Styles */

.w-richtext p {
  margin-bottom: 0.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.w-richtext a {
  text-decoration: underline;
  text-underline-offset: 0.125em;
  text-decoration-thickness: from-font;
  color: var(--_primitives---brand--accent--400);
  transition: 0.3s color ease-in-out;

  &:hover {
    color: var(--_primitives---brand--accent--600);
    text-decoration: none;
  }
}

.w-richtext ol,
.w-richtext ul {
  padding-left: 0;
  padding-inline-start: 1.5rem;
}

.w-richtext ol li,
.w-richtext ul li {
  padding-left: 0;
  padding-inline-start: 0.5rem;
}
